<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="utf-8">
    <title>Новий пост</title>
  </head>
  <body>
            <h1>Створити пост</h1>
            <form method="post">
                    <input type="text" name="title" placeholder="Заголовок" required><br><br>
                    <textarea name="content" placeholder="Зміст поста" rows="5" required></textarea><br><br>
                    <button type="submit">Додати</button>
            </form>
            <br>
            <a href="{{ url_for('home') }}">← Назад</a>
  </body>
</html>
