<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
</head>
<body>
    <h1>Мій блог</h1>
    <a href="{{ url_for('create') }}">+ Новий пост</a>
    <ul>
        {% for post in posts %}
        <li>
                <strong>{{ post.title }}</strong> — {{ post.content }}<br>
                <a href="{{ url_for('edit', id=post.id) }}">✏️ Редагувати</a>
                <a href="{{ url_for('delete', id=post.id) }}" onclick="returnconfirm('Видалити пост?' );">🗑️ Видалити</a>
        </li>
        {% else %}
        <li>Поки що постів немає.</li>
        {% endfor %}
    </ul>
</body>
</html>
